<div class="info-text">
    <img src="/images/raspberrypi.jpeg" alt="">
    <h1>Info</h1>
    <p>Das Back-End dieser Website wurde mit node.js realisiert und verwendet die module <span styles="font: bold">express.js</span>  und <span styles="font: bold">moment.js</span></p>
    <p>Das Front-End besteht aus einfachem HTML5, CSS und JS- code. Die graphische Kurvendarstellung der Messwerte erfolgt mit der data-vizualisation-library <span styles="font: bold">chart.js</span>   </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quod iusto sunt, eos corrupti esse placeat laboriosam numquam aspernatur dolores quidem nulla consequuntur aperiam unde a aut, vel ut delectus maxime necessitatibus culpa expedita ex. Debitis, libero sit nesciunt excepturi accusamus assumenda molestiae ex pariatur itaque exercitationem aspernatur delectus corporis quidem veritatis fugit ullam sequi ipsum quibusdam nobis, modi quas cupiditate voluptatem quam voluptas. Cupiditate, perspiciatis praesentium autem rem veritatis illum aliquid tempore beatae eos quod eaque ullam inventore laborum sit dolor mollitia corrupti vitae ratione possimus. Repellat fugit ducimus excepturi accusamus ipsa natus aliquid, nobis voluptatibus ea, quas aut?</p>
</div>
