<div class="info-text">
    <img src="/images/nodejs-code-01.PNG" alt="">
    <h1>Info</h1>
    <p>Das Back-End dieser Website wurde mit node.js realisiert und verwendet die module <span style="font-weight: bold">express.js</span>  und <span style="font-weight: bold">moment.js</span></p>
    <p>Das Front-End besteht aus einfachem HTML5, CSS und JS- code. Die graphische Kurvendarstellung der Messwerte erfolgt mit der data-vizualisation-library <span style="font-weight: bold">chart.js</span></p>
    <br>
    <br>
    <p>Aktuelle Speicherauslastung Raspberry PI <br></p>
    <table>
        <tr>
            <th>Speichertyp</th>
            <th>Total</th>
			<th>Verwendet</th>
			<th>Frei</th>
        </tr>
        <tr>
            <td>HDD</th>
            <td>_SysInfo1 GByte</th>
			<td>_SysInfo2 GByte</th>
			<td>_SysInfo3 GByte</th>	
        </tr>
        <tr>
            <td>RAM</th>
            <td>_SysInfo4 MByte</th>
			<td>_SysInfo5 MByte</th>
			<td>_SysInfo6 MByte</th>
        </tr>
    </table>
    
    <div class="info-trend">
        <canvas id="info-canvas"></canvas>
    </div>
</div>
