<div class="info-text">
    <h1>System Info</h1>
    <div class="info-table">
        <fieldset>
            <legend>Aktuelle Speicherauslastung Raspberry PI</legend>
            <table>
                <tr>
                    <th><span class="th-width">Typ</span></th>
                    <th><span class="th-width">Total</span></th>
                    <th><span class="th-width">Verwendet</span></th>
                    <th><span class="th-width">Frei</span></th>
                </tr>
                <tr>
                    <td>SD Card</th>
                    <td>_SysInfo1 GB</th>
                    <td>_SysInfo2 GB</th>
                    <td>_SysInfo3 GB</th>	
                </tr>
                <tr>
                    <td>RAM</th>
                    <td>_SysInfo4 MB</th>
                    <td>_SysInfo5 MB</th>
                    <td>_SysInfo6 MB</th>
                </tr>
            </table>
    </fieldset>
    </div>
</div>
