<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/styles/login-styles.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="login-title">Temperatur App</div>
	<div class="login-title">Login</div>
      <form action="/login" method="POST" class="form">
        <div class="login-panel">
          <div class="usernamefield">
            <input name="username" class="usr" type="text" placeholder="Username" autocomplete="off">
          </div>
          <div class="passwordfield">
            <input name="password" class="pwd" type="password" placeholder="Password">
          </div>
          <div class="login-btn">
            <button class="btn">Senden</button>
          </div>
        </div>
      </form>      
    </div>
  </header>
<!-- header ends here -->

<div class="container py-md-5">


</div>
  
<!-- footer begins -->
<footer class="footer">
  <p>Raspberry PI mit Sensor DS18B20</p>
</footer>
</body>
</html>