<div class="service-text">
	<img src="/images/RASP_03_01.png" alt="">
	<h1>Service</h1>
	<h3>RASPBERRY PI 3 MODEL B</h3>
	<p>Single-board computer with wireless LAN and Bluetooth connectivity</p>
	<img src="/images/RaspberryPI_DS18B20.jpg" alt="">
	<h3>Schaltplan</h3>
	<p>Anschluss von DS18B20 Sensoren an der GPIO Schnittstelle des PI. Pin 1: 3.3V  - Pin 4: GPIO4 - PIN 38: GND</p>
	<img src="/images/DS18B20.PNG" alt="">
	<h3>Beschreibung</h1>
	<p>The DS18B20 Digital Thermometer provides 9 to 12-bit (configurable) temperature readings which indicate the temperature of the device.
		Information is sent to/from the DS18B20 over a 1-Wire interface, so that only one wire (and ground) needs to be connected from a central microprocessor to a DS18B20.  Power for reading, writing, and performing temperature conversions can be derived from the data line itself with no need for an external power source.
		Because each DS18B20 contains a unique silicon serial number, multiple DS18B20s can exist on the same 1-Wire bus.  This allows for placing temperature sensors in many different places.  Applications where this feature is useful include HVAC environmental controls, sensing temperatures inside buildings, equipment or machinery, and process monitoring and control.
		</p>
</div>