:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
	box-sizing: border-box;
	font-family: Arial, Helvetica, Arial, Helvetica, sans-serif;
	color: var(--dark);
}

body {
	background: #ccc;
	margin: 30px 50px;
}

.wrapper {
	display: grid;
	grid-gap: 0px;
}

.info-text img {
	width: 60%;
	float: left;
	margin: 20px;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.pi-pic {
	width: 60%;
	margin-left: 15px;
}

.py-code {
	width: 65%;
	margin-left: 15px;
}

.py-cron {
	width: 65%;
	margin-left: 15px;
}
.circuit-pic {
	width: 65%;
	margin-left: 15px;
}

.sensor-pic {
	width: 35%;
	margin-left: 15px;
}
.contact-text img {
	width: 50%;
	float: left;
	margin: 20px;
}

.wrapper-info {
	color: var(--dark);
}

.wrapper-contact {
	color: var(--dark);
}

.wrapper-documentation {
	color: var(--dark);
}

.main-nav ul {
	width:100%;
	display: grid;
	grid-gap: 10px;
	padding: 0;
	list-style: none;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main-nav a {
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: var(--shadow);
}

.selected-menue-btn {
	background: var(--dark);
	color: var(--primary);
}
.deselected-menue-btn {
	background: var(--primary);
	color: var(--dark);
}

.change-timerange, .change-timerange2 {
	display: flex;
	align-items: center;
}

.change-timerange a, .change-timerange2 a {
	flex: 1;
	display: block;
	text-decoration: none;
	padding: 0.1rem;
	text-align: center;
	font-size: 1.0rem;
	border-radius: 7px;
}

.selected-timerange-btn {
	background: rgba(207, 212, 218, 0.616);
	color: var(--dark);
	margin: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(81, 82, 83, 0.623);
}

.deselected-timerange-btn {
	box-sizing: border-box;
	background: var(--primary);
	color: var(--dark);
	margin: 1px;
}

.box-a {
	display: none;
	margin-top: 20px;
	margin-bottom: 10px;
	
}

.box-b {
	display: none;
	margin-bottom: 10px
}

select {
	font-family: Arial, Helvetica, Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
}

.info {
	width:100%;
}

label {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 15px;
}
.timerange-buttons {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 15px;
	padding: 2px 2px 2px 2px;
}

legend {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.tablename {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 15px;
}

p {
	font-family:  Arial, Helvetica, sans-serif;
	padding-left: 15px;
}

.trend-area {
	font-family: Arial, Helvetica, sans-serif;
}

table {
		font-family: Arial, Helvetica, sans-serif;
		width: 100%;
		border-collapse: collapse;
		padding-left: 5px;
		padding-right: 5px;
}	

td, th {
		text-align: left;
		padding: 4px;
}

.hdd-trend {
	width: 70%;
}

.ram-trend {
	width: 70%;
}

#ressource-values {
	display: none;
}

footer p {
	text-align: center;
}

.info-table {
	max-width: 60%;
	margin: 20px;
}

#animation-canvas {
	margin-top: 10px;
	border: 1px solid black;
}

#collision-canvas {
	margin-top: 10px;
	border: 1px solid black;
}

#value-overview {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.trend-area {
	flex: 2;
}

#actValOutside {
	flex: 1;
	text-align: center;
	color: rgb(30,144, 255);
	font-size: 28px;
	font-weight: bold;
}

#actValInside {
	flex: 1;
	text-align: center;
	color:  rgb(255, 69, 0);
	font-size: 28px;
	font-weight: bold;
}

#actValProcessor {
	flex: 1;
	text-align: center;
	color:rgb(255, 159, 64);
	font-size: 28px;
	font-weight: bold;
}

#actValTimeStamp {
	flex: 1;
	text-align: center;
	color: rgb(83, 81, 81);
}

.show {
	opacity: 1;
	transition: opacity 2000ms;
}
  
.hide {
	opacity: 0;
}

#nav-github, #nav-demo {
	background: var(--primary);
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: var(--dark);
	font-size: 1.0rem;
	border-radius: 7px;
}

#tooltip-show-details {
	position: relative;
	background: var(--primary);
	display: block;
	text-decoration: none;
	padding: 0.3rem;
	text-align: center;
	color: var(--dark);
	font-size: 1.0rem;
	border-radius: 7px;
	width: 50%;
	-webkit-transition: width ease-in-out 500ms;
	-webkit-transition: font-size ease-in-out 1ms;
	-webkit-transition: padding ease-in-out 1ms;
}

  /* Tooltip text */
  #tooltip-show-details #tooltip-text-details {
	/* visibility: hidden; */
	transform: scale(0);
	width: 250px;
	background-color: black;
	color: #fff;
	padding: 20px;
	border-radius: 6px;
	font-size: 0.9rem;
	text-align: left;
    
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
	top: -400px;
	left: 0;
	-webkit-transition: transform ease-in-out 500ms;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  #tooltip-show-details:hover #tooltip-text-details {
	/* visibility: visible; */
	transform: scale(1);
  }

  #tooltip-show-details:hover {
	/* visibility: visible; */
	width: 0;
	font-size: 0;
	padding: 0;
  }

@media (max-width: 500px) {
	.main-nav ul {
		display: flex;
		flex-direction: column;
	}

	.main-nav a {
		display: block;
		text-decoration: none;
		padding: 0.1rem;
		margin: 0.1rem;
		text-align: center;
		font-size: 1.5rem;
		border-radius: 7px;
	}

	.info {
		display: none;
	};

	#nav-home, #nav-documentation, #nav-contact, #nav-info {
		font-size: 0.8rem;
		padding: 3px;
	}

	html {
		/* max-height: 100vh; */
		max-width: 100vw;
		color: var(--light);
	}

	body {
		/* max-height: 100vh; */
		max-width: 100vw;
		margin: 5px;
		background-image: url(../images/black-carbon-fiber.jpg);
	}

	.wrapper, .main-nav, #content {
		/* max-height: 100vh; */
		max-width: 100vw;
	}

	#value-overview {
		flex-direction: column;
		font-size: 2rem;
		align-items: center;
	}

	.box-a, .box-b {
		display: none;
		margin: 30px 0 0 0;
		font-size: 28px;
	}

	#actValOutside, #actValInside, #actValProcessor  {
		font-size: 2.4rem;
		margin: 15px 0 5px 0;
	}

	#actValTimeStamp {
		font-size: 1.2rem;
		color: rgba(250, 249, 249, 0.5);
		margin: 10px 0 5px 0;
	}

	.selected-timerange-btn {
		background: var(--dark);
		border-style: solid;
		border-color: var(--primary);
		border-width: 1px;
		color: var(--primary);
	}

	.deselected-timerange-btn {
		background: var(--primary);
		border-style: solid;
		border-color: var(--dark);
		border-width: 1px;
		color: var(--dark);
	}

	.info-text {
		margin: 0;
		padding: 0;
	}

	.info-table {
		margin: 0;
		padding: 0;
	}

	table {
		font-family: Arial, Helvetica, sans-serif;
		width: 100%;
		border-collapse: collapse;
		padding-left: 2px;
		padding-right: 2px;
	}	

	th {
		padding-right: 40px;
		font-size: 0.9rem;
	}
	.th-width {
		width: 100px;
	}

	td {
		font-size: 0.9rem;
	}

	footer p {
		color: rgb(250, 249, 249);
		font-size: 1.3rem;
		margin: 5px;
	}
}