	.manual-form {
		border: 1px solid black;
		font-family: arial, sans-serif;
		font-weight: bold;
		padding-left: 15px;
		margin-bottom: 15px;
		background-color: #e8eaf7;
    	}

	.select-form {
		border: 1px solid black;
		font-family: arial, sans-serif;
		font-weight: bold;
		padding-left: 15px;
		margin-bottom: 15px;
		background-color: #e8eaf7;
    	}

	.timerange-buttons {
		font-family: arial, sans-serif;
		font-weight: bold;
		font-size: 15px;
		padding-left: 15px;
        margin-bottom: 15px;
        float: left;
    }
    
    .timerange-inputs {
		font-family: arial, sans-serif;
		font-weight: bold;
		font-size: 15px;
		padding-left: 15px;
        margin-bottom: 15px;
        float: left;
	}

	p {
		font-family: arial, sans-serif;
		font-weight: bold;
		padding-left: 15px;
	}

	.statistic-table {
		border: 1px solid black;
		background-color: #e8eaf7;
    	}

	.trend-area {
		border: 1px solid black;
		background-color: #e8eaf7;
    	}

	table {
    		font-family: arial, sans-serif;
    		border-collapse: collapse;
    		width: 100%;
			padding-left: 15px;
			padding-bottom: 15px;
		}	

	td, th {
    		border: 1px solid #cbd0ef;
    		text-align: left;
   			padding: 8px;
	}

	tr:nth-child(even) {
    		background-color: #cbd0ef;
	}