:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
	box-sizing: border-box;
	font-family: Arial, Helvetica, Arial, Helvetica, sans-serif;
	color: var(--dark);
}

body {
	background: #ccc;
	margin: 30px 50px;
	/*line-height: 1.1;*/
}

.wrapper {
	display: grid;
	grid-gap: 0px;
}


.info-text img {
	width: 50%;
	float: left;
	margin: 20px;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.pi-pic {
	width: 60%;
}

.py-code {
	width: 65%;
}

.py-cron {
	width: 65%;
}
.circuit-pic {
	width: 65%;
}

.sensor-pic {
	width: 35%;
}
.contact-text img {
	width: 50%;
	float: left;
	margin: 20px;
}

.wrapper-info {
	color: var(--dark);
}

.wrapper-contact {
	color: var(--dark);
}

.wrapper-documentation {
	color: var(--dark);
}

.main-nav ul {
	width:100%;
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style: none;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav a {
	background: var(--primary);
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: var(--dark);
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: var(--shadow);
}

.main-nav a:hover {
	background: var(--dark);
	color: var(--light);
}

.top-container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
	'trend trend trend trend trend trend'
	'trend trend trend trend trend trend'
	'trend trend trend trend trend trend'
	'trend trend trend trend trend trend'
	'box-a box-a box-a box-b box-b box-b';

}

.trend {
	grid-area: trend;
	}

.box-a {
	grid-area: box-a;
	margin-bottom: 10px
	}

.box-b {
	grid-area: box-b;
	margin-bottom: 10px
	}

select {
	font-family: Arial, Helvetica, Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
}

.info {
	width:100%;
}

label {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 15px;
}
.timerange-buttons {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 15px;
	padding: 2px 2px 2px 2px;
}

legend {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.tablename {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 15px;
	}

p {
	font-family:  Arial, Helvetica, sans-serif;
	padding-left: 15px;
}

.trend-area {
	font-family: Arial, Helvetica, sans-serif;
	/*border: 1px solid black;
	background-color: #e8eaf7;*/
	}

table {
		font-family: Arial, Helvetica, sans-serif;
		width: 100%;
		border-collapse: collapse;
		padding-left: 5px;
		padding-right: 5px;
	}	

td, th {
		/* border: 1px solid var(--dark);*/
		text-align: left;
		padding: 4px;
}

/* .bottom-container {
	display: grid;
	grid-gap: 5px;
	grid-template-areas:
	'hdd-trend hdd-trend ram-trend ram-trend'
	'hdd-trend hdd-trend ram-trend ram-trend'
	'hdd-trend hdd-trend ram-trend ram-trend'
	'hdd-trend hdd-trend ram-trend ram-trend';
} */
.hdd-trend {
	/* grid-area: hdd-trend; */
	width: 70%;
}

.ram-trend {
	/* grid-area: ram-trend; */
	width: 70%;
}

footer p {
	text-align: center;
}
/*
tr:nth-child(even) {
		background-color: #cbd0ef;
}
*/

.info-table {
	max-width: 60%;
	margin: 20px;
}